<!DOCTYPE html>
<html lang="en">

<head>

  {% block head %}
  <meta charset="utf-8">
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

  {% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %} 
  {% if meta.robots %}<meta name="robots" content="{{ meta.robots }}">{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site_title }}">

  <link href="{{ theme_url }}/css/normalize.css" rel="stylesheet">
  <link href="{{ theme_url }}/css/skeleton.css" rel="stylesheet">
  
  {% endblock %}

</head>

<body>

  {% block header %}
  <div class="container">

  </div>
  {% endblock %} 
  
  {% block body %} {{ content }} {% endblock %} 
  
  {% block footer %}
  <footer>
    <div class="container">
      <hr />
      {% if meta.author %}
      <p>&copy; {{ now|date('Y') }} {{ meta.author }}</p>
      {% else %}
      <p>&copy; {{ now|date('Y') }} {{ site_title }}</p>      
      {% endif %}
    </div>
  </footer>

  {% endblock %}

</body>

</html>