{% extends "base.twig" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="two-thirds column">
      {{ parent() }}
    </div>
  </div>
</div>

<div class="container nav-fix">
	<div class="row">
    <div class="one-third column">
      <h2 class="content-subhead">Recent posts:</h2>
      <div class="posts">
      {% for page in pages|sort_by("time")|reverse %}
        {% if page.id starts with "blog/" %}
            <div class="post">
                <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                <p class="date">{{ page.date_formatted }}</p>
                <p class="excerpt">{{ page.description }}</p>
            </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
