{% extends "base.twig" %}

{% block body %}

<div class="container nav-fix">
	<div class="row">
    <div class="one-third column">
      <h2 class="content-subhead">Recent posts:</h2>
      <div class="pages">
      {% for page in pages|sort_by("title") %}
        {% if page.meta.template == "wiki" %}
            <div class="page">
                <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
            </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="two-thirds column">
      {{ parent() }}
    </div>
  </div>
</div>


{% endblock %}
